h1 {
  margin-left: 10px;
}

#gridItem {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 1%;
  padding: 1%;
  border-radius: 10%;
}
h2 {
  text-decoration: underline;
  margin-left: 20px;
  max-width: fit-content;
}
article {
  background-color: rgb(245, 220, 238);
  color: black;
}
h3 {
  font-style: italic;
  margin-left: 50px;
  max-width: fit-content;
}
a {
  text-decoration: none;
}

#gridItem:hover {
  background-color: rgb(168, 146, 233);
  transition: all 0.8s;
  padding: 2rem;
  border-radius: 2%;
}

#pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 5%;
}

img {
  object-fit: contain;
  width: 200px;
  border-radius: 5%;
  background-color: rgb(255, 205, 232);
  padding: 0.5%;
}
