nav > section {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  column-gap: 3ch;
  line-height: 2;
  padding-right: 1%;
}

nav > section > a {
  text-decoration: none;
  color: purple;
}

header > p {
  font-size: 300%;
  color: violet;
  padding-left: 2%;
  padding-bottom: 1%;
}
header {
  background-image: linear-gradient(to bottom left, pink, purple);
}

body {
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(245, 220, 238);
}

blockquote {
  font-style: italic;
}
