/** {border: 1px black solid;}*/
form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-flow: wrap;
  max-width: min-content;
  margin: 2%;
  margin-bottom: 5%;
  background-color: rgb(169, 114, 221);
  padding: 3%;
  border-radius: 10%;
  row-gap: 2ch;
}

main {
  display: grid;
  margin-left: 10px;
  max-width: 50%;
}

#subtitle {
  font-style: italic;
  font-size: 0.8rem;
}

#success {
  margin: 8%;
}
