* {
  border: 2px black solid;
}

nav > section {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  column-gap: 3ch;
  line-height: 2;
  padding-right: 1%;
}

nav > section > a {
  text-decoration: none;
  color: purple;
  transition: all 1s;
}
nav > section > a:hover {
  background-color: violet;
  transition: all 0.5s;
  padding: 0.5rem;
  border: 1pt violet solid;
  border-radius: 10%;
}

header > p {
  font-size: 300%;
  color: violet;
  padding-left: 2%;
}

header {
  background-image: linear-gradient(to bottom left, pink, purple);
}

body {
  display: grid;
  grid-template-rows: auto min-content auto;
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(245, 220, 238);
}

blockquote {
  font-style: italic;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: plum;
  padding: 1%;
}
footer > div {
  margin-left: 1%;
  margin-right: 1%;
}

/*main {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: min-content min-content min-content;
  gap: 1rem 1rem;}*/

main {
  display: flex;
  flex-flow: column wrap;
  height: max-content;
  justify-content: ;
  align-content: ;
}

main > div {
  width: 30%;
  height: fit-content;
  margin: left;
  align-self: flex-start;
}
figure {
  margin: righautot;
}

img {
  display: inline;
  max-block-size: 15%;
  max-width: 40%;
  padding-top: 1%;
  border-radius: 20%;
}

/*main > div {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding-bottom: 0%;
  padding-left: 1%;
}*/

/*figure {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column: 1 / -1;
}*/

@media (width < 600px) {
  nav > section {
    flex-direction: column;
    margin-left: 2%;
  }
  header {
    background-image: linear-gradient(to bottom, pink, purple);
  }
  img {
    size-adjust: auto;
  }
}
