nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to bottom left, pink, purple);
}
/*can I extend background image to full screen?*/

.navBar {
  text-decoration: none;
  color: purple;
  transition: all 2s;
}
.navBar:hover {
  background-color: violet;
  transition: all 0.5s;
  padding: 0.5rem;
  border: 1pt violet solid;
  border-radius: 10%;
}

nav > section {
  display: flex;
  flex-direction: row;
  column-gap: 3ch;
  line-height: 2;
  padding-right: 1%;
}

nav > section > a {
  text-decoration: none;
  color: purple;
}

#name {
  font-size: 125%;
  color: violet;
  padding-left: 2%;
  padding-bottom: 1%;
  min-width: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(245, 220, 238);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: plum;
  padding: 1%;
}

footer > div {
  margin-left: 1%;
  margin-right: 1%;
}

@media (width < 600px) {
  nav > section {
    flex-direction: column;
    margin-left: 2%;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
    background-image: linear-gradient(to top, pink, purple);
  }
}
